@import '../variables.module.scss';
@import '../themes/light.module.scss';

.main {
   padding: 3.125rem 0 8.75rem 0;

   .form {
      display: flex;
      flex-direction: column;
      gap: 1.5625rem;

      width: 100%;

      .button {
         width: fit-content;
         border-radius: 0.75rem;
         padding: 1.25rem 3.75rem;
         background-color: $bg-blue;
         font-weight: 600;
         font-size: 1.125rem;
         color: $button-color;

         transition: background-color 0.2s ease-in-out;

         &:hover {
            background-color: $button-hover-color;
         }

         &:active {
            background-color: $button-active-color;
         }
      }
   }
}
