// Colors
$main-color: #000000;
$second-color: #f4f6f8;
$indigo-color: #3048c1;
$turquoise-color: #3a6cc1;
$light-grey-color: #bdbdbd;
$light-grey-2-color: #6e7585;
$steel-grey-color: #5f6368;
$dark-grey-color: #c6c6c6;
$dark-grey-2-color: #343333;

// Input colors
$input-border-color: #bdbdbd;
$input-border-color-2: #a6a6a6;
$input-focus-color: #757575;
$input-placeholder-color: #b9b9b9;
$input-correct-color: #14d710;
$input-error-color: #f00000;
$radio-color: #d9d9d9;
$radio-checked-color: $dark-grey-color;

// Button colors
$button-color: #fff;
$button-active-color: #3a6cc1;
$button-hover-color: #36c;

// Background colors
$bg-blue: #5281f8;
$bg-dark-blue: #0f4d6b;
$bg-orange: #ff9b54;
$bg-white: #ffffff;
$bg-dark-purple: #261e54;
