@import '@/styles/variables.module.scss';
@import '@/styles/themes/light.module.scss';

.form {
   display: grid;
   gap: 2.5rem;
   max-width: 21.875rem;

   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;

      min-width: 21.875rem;

      .switchMassage {
         font-weight: 400;
         font-size: 0.9375rem;
         color: $second-color;

         .switchLink {
            cursor: pointer;
            color: $bg-blue;
            margin-left: 4px;

            transition: color 0.2s ease-in-out;

            &:hover {
               color: $second-color;
            }

            &:active {
               color: $bg-dark-purple;
            }
         }
      }
   }
}
