@import '../variables.module.scss';
@import '../themes/light.module.scss';

.question {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1.5625rem;
   width: 100%;
   border-radius: 0.5rem;
   background-color: $second-color;
   box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
   padding: 4.5625rem 1.25rem 1.5625rem 1.25rem;

   .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0.75rem 1.25rem;
      background-color: $bg-blue;
      border-radius: 0.5rem 0.5rem 0 0;
      font-weight: 600;
      font-size: 1.125rem;
      color: $bg-white;
   }

   .questionEntry {
      width: 100%;
      display: grid;
      grid-template-columns: 43.125rem 18.75rem;
      gap: 1.5625rem;
      padding-bottom: 1.875rem;
      border-bottom: 1px solid $main-color;

      > :nth-child(3) {
         width: 56.25rem;
      }

      .detailedAnswer {
         width: 43.125rem;
         height: 9.375rem;
         border: 1px solid $dark-grey-color;
         border-radius: 0.5rem;
         padding: 0.6875rem 1.25rem;
         background-color: $bg-white;
         resize: none;
         outline: none;

         &::placeholder {
            color: $dark-grey-color;
         }

         &:focus {
            border: 1px solid $bg-blue;
         }
      }
   }

   .footer {
      display: flex;
      justify-content: space-between;

      .buttons {
         display: flex;
         gap: 1.875rem;

         .button {
            display: flex;
            gap: 0.3125rem;
            align-items: center;
         }
      }
   }
}
